@tailwind base;
@tailwind components;
@tailwind utilities;

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Hide scrollbar for cleaner look if desired, or keep default */
